
2_Post Install/5_Timer Optimization/Windows 11 Timer optimization - Copy.bat
2_Post Install/New Reg to test.reg
2_Post Install/Problem Solving/Run to scan and fix corruption/TDK.log
Optional_Changing OS Appearance/Nilesoft Shell Config/shell.nss.backup
*.backup
